* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
h1 {
	font-size: clamp(1.5rem, 4vw, 3rem);
}

p {
	font-size: calc(1rem + 0.25vw);
}

body {
	font-family: 'Quicksand', sans-serif;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.primary-btn {
	font-size: 16px;
	padding: 8px 32px;
	background: rgb(254, 163, 1);
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	transition: scale 0.3s;
}
.primary-btn:hover {
	scale: 1.2;
}
