* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
h1 {
	font-size: clamp(1.5rem, 4vw, 3rem); /* Scalable and constrained */
}

p {
	font-size: calc(1rem + 0.25vw); /* Slight scaling with viewport */
}

body {
	font-family: 'Quicksand', sans-serif;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.primary-btn {
	font-size: 16px;
	padding: 8px 32px;
	background: rgb(254, 163, 1);
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	transition: scale 0.3s;
}
.primary-btn:hover {
	scale: 1.2;
}
header {
	max-width: 1100px;
	margin: 0 auto;
}
nav {
	margin: 10px 000;
	padding: 10px;
}
.logo-img {
	display: block;
	max-width: 100%;
	height: 40px;
}
.logo-txt {
	font-size: 24px;
	margin-left: 5px;
	font-weight: bold;
}
nav ul {
	gap: 16px;
}
nav ul li {
	list-style-type: none;
	font-size: 18px;
	cursor: pointer;
	transition: border 0.15s;
}
nav ul li:hover {
	border-bottom: 0.5px solid black;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}
.animation-scroll {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	width: 100%;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}

.animation-scroll p {
	display: inline-block;
	animation: scroll 5s linear infinite;
	padding: 8px;
	font-size: 14px;
	color: #333;
}

@keyframes scroll {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@media screen and (max-width: 576px) {
	.hamburger {
		display: block;
	}
	.logo-txt {
		display: none;
	}
	nav ul li {
		display: none;
	}
	.btn {
		display: none;
	}
	nav {
		margin-top: 0;
		border: 0.5px solid rgb(254, 163, 1);
	}
}
/* heroooooooooooooooooooooooooooo */
.hero-container {
	margin-top: 40px;
}
.hero-txt-container {
	max-width: 50%;
	padding: 20px;
}
.hero-img-container {
	max-width: 50%;
	padding: 20px;
}
.hero-title {
	font-size: 50px;
	margin-bottom: 16px;
}
.hero-description {
	font-size: 18px;
	opacity: 0.7;
	margin-bottom: 20px;
	line-height: 1.5;
}
.enroll-btn {
	background-color: black;
}
.hero-img {
	max-width: 100%;
}
@media screen and (max-width: 576px) {
	.hero-container {
		flex-direction: column-reverse;
		margin: 0;
	}
	.hero-txt-container {
		max-width: 100%;
	}
	.hero-title {
		font-size: 32px;
	}
	.hero-description {
		font-size: 14px;
	}
	.hero-img-container {
		max-width: 100%;
	}
}
.standard {
	max-width: 1100px;
	margin: 60px auto;
	background: url('../assets/bg.png');
}
.standard-title {
	text-align: center;
	margin-bottom: 80px;
}
.card-container {
	gap: 40px;
}
.card {
	border: 0.94px solid rgb(222, 245, 255);
	border-radius: 18.86px;

	box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
	background: linear-gradient(
			180deg,
			rgb(222, 245, 255),
			rgba(255, 255, 255, 0) 40%
		),
		rgb(255, 255, 255);
	text-align: center;
	padding: 40px 24px;
}
.card-two {
	box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
	background: linear-gradient(
			180deg,
			rgb(255, 244, 220),
			rgba(255, 255, 255, 0) 40%
		),
		rgb(255, 255, 255);
}
.card-three {
	box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
	background: linear-gradient(
			180deg,
			rgb(238, 225, 255),
			rgba(255, 255, 255, 0) 40%
		),
		rgb(255, 255, 255);
}
.card-img {
	max-width: 100%;
	height: 120px;
	margin-bottom: 20px;
}
.card-title {
	font-size: 18px;
	margin-bottom: 20px;
}
.card-description {
	font-size: 14px;
	opacity: 0.6;
	margin-bottom: 20px;
}
.card-btn {
	background-color: white;
	border: none;
	margin-bottom: 40px;
	font-size: 12px;
	opacity: 0.7;
	cursor: pointer;
}
.card-btn:hover {
	opacity: 1;
	scale: 1.2;
}
.arrow-btn-container {
	margin-top: 30px;
	margin-bottom: 120px;
	text-align: center;
}
.arrow-btn {
	width: 60px;
	height: 60px;
	background: rgb(254, 163, 1);
	padding: 10px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 20px;
	margin-right: 2px;
	color: rgb(255, 255, 255);
	font-family: Font Awesome 5 Free;
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	padding: 10px 15px;
	cursor: pointer;
}
@media screen and (max-width: 576px) {
	.card-container {
		display: flex;
		flex-direction: column;
	}
	.standard {
		margin: 0 20px;
	}
}

.stories {
	background: linear-gradient(
			0deg,
			rgba(254, 163, 1, 0.3),
			rgba(255, 255, 255, 0.3) 100%
		),
		url('../assets/bg.png');
	background-repeat: repeat;
	background-size: cover; /* Ensure proper background rendering */
	padding-bottom: 80px;
	overflow-x: hidden; /* Prevent horizontal overflow */
}

.stories-container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap; /* Ensure items wrap within the container */
	align-items: stretch;
	gap: 20px;
	box-sizing: border-box; /* Include padding and border in width/height */
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.storeis-first-container {
	width: 100%; /* Use width instead of max-width */
	flex: 1; /* Allow flexible resizing */
	border-radius: 16px;
	background: rgb(255, 255, 255);
}

.stories-second-container {
	width: 100%; /* Use width instead of max-width */
	flex: 1; /* Allow flexible resizing */
}

.stories-img {
	width: 100%; /* Ensure the image stays within its container */
	height: auto; /* Maintain aspect ratio */
	border-radius: 16px 16px 0px 0px;
}

.stories-text-container {
	padding: 20px;
	position: relative;
}

.stories-title {
	font-size: 22px;
	margin: 20px 0;
	opacity: 0.8;
}

.stories-description {
	font-size: 18px;
	opacity: 0.6;
}

.story {
	border-radius: 16px;
	background: rgb(255, 255, 255);
}

.story-title {
	font-size: 12px;
	opacity: 0.7;
	margin-bottom: 5px;
}

.story-description {
	font-size: 8px;
	opacity: 0.6;
}

.date {
	position: absolute;
	top: -15px;
	left: 20px;
	display: inline-block;
	background: #62c2d1;
	color: white;
	border-radius: 20px;
	padding: 0.2rem 1rem;
	font-size: 0.85rem;
	margin-bottom: 1rem;
}

/* Responsive Design */
@media screen and (max-width: 576px) {
	.storeis-first-container {
		display: none; /* Hide the first container on small screens */
	}
	.stories-second-container {
		width: 100%; /* Ensure it takes full width */
	}
	.stories-container {
		margin: 0 10px; /* Add margin within the screen */
		padding: 0 10px; /* Ensure no overflow */
	}

	.grid {
		grid-template-columns: 1fr; /* Make the grid single column */
		gap: 10px;
	}

	.date {
		top: -9px;
		left: 20px;
		border-radius: 10px;
		padding: 0.1rem 0.5rem;
		font-size: 0.4rem;
		margin-bottom: 0.5rem;
	}
}

/* footer start here */
/* =============================== */
.footer {
	padding: 100px 140px;
	background: rgb(1, 172, 253);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.logo-container {
	gap: 5px;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}
.footer-logo-title {
	font-size: 20px;
	color: white;
}
.footer-description {
	font-size: 1rem;
	opacity: 0.7;
	color: white;
}
.footer-about-school-title {
	text-align: center;
	color: white;
	font-size: 18px;
	margin-bottom: 20px;
}
.footer-nav-ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
	list-style: none;
	opacity: 0.7;
}
.keep-in-touch {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}
.social-img-container {
	gap: 5px;
	justify-content: center;
}
@media (max-width: 576px) {
	.keep-in-touch {
		text-align: left;
	}
	.social-img-container {
		justify-content: flex-start;
	}
	.footer {
		grid-template-columns: 1fr;
		text-align: start;
		gap: 30px;
		padding: 20px;
	}

	.logo-container {
		justify-content: flex-start;
	}

	.footer-description {
		font-size: 8px;
	}
	.footer-about-school-title {
		text-align: left;
	}
	.footer-nav-ul {
		justify-content: flex-start;
		align-items: flex-start;
	}
}
